TP1/simulacion_ej5/.idea/*
TP1\simulacion_ej5\Globals\config.xml
TP1\simulacion_ej5\Signals\*.xml
TP1\simulacion_ej5\IndividualTest.py
TP2\fft\test01\.idea\*
TP2/Software\.idea\*.iml
TP2/Software\.idea\*.*
TP2\fft\test01\cmake-build-debug
TP2\fft\test01\CMakeLists.txt
*.raw
*.log
*.Zip
*.pyc
*.toc
*.aux
*.synctex.gz
*.gz
*.out
*.xml
