TP1/simulacion_ej5/.idea/*
TP1\simulacion_ej5\Globals\config.xml
TP1\simulacion_ej5\Signals\*.xml
TP1\simulacion_ej5\IndividualTest.py
TP2/Software\.idea\*.iml
TP2/Software\.idea\*.*
TP2\fft\test01\CMakeLists.txt
TP2\Software\.idea\*
TP2\EJ1\test01\cmake-build-debug\*.*
TP2\EJ8\main.cpp
!TP2\Software\ProcessMidi\InstrumentsSynth\instrumentos.xml
TP2\EJ8\cmake-build-debug\*.*
TP2/EJ8/cmake-build-debug-mingw/*.*
TP2/EJ8/cmake-build-release-mingw/*.*
TP2/EJ8/.idea/*.*
*.raw
*.log
*.Zip
*.pyc
*.toc
*.aux
*.synctex.gz
*.gz
*.out
*.xml
TP2/EJ8/main.cpp
TP2\EJ8\cmake-build-debug\*.*
TP2\EJ8\.idea\*.*
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CMakeCCompiler.cmake
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CMakeCXXCompiler.cmake
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_C.bin
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CMakeRCCompiler.cmake
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CMakeSystem.cmake
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/a.exe
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/CMakeCCompilerId.c
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/a.exe
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
TP2/EJ8/cmake-build-debug/CMakeFiles/clion-environment.txt
TP2/EJ8/cmake-build-debug/CMakeFiles/CMakeTmp/cmake_install.cmake
TP2/EJ8/cmake-build-debug/cmake_install.cmake
TP2/EJ8/cmake-build-debug/CMakeCache.txt
TP2/EJ8/cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_CXX.bin
TP2/EJ8/cmake-build-debug/CMakeFiles/clion-log.txt
TP2/EJ8/cmake-build-debug/CMakeFiles/cmake.check_cache
TP2/EJ8/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/build.make
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/cmake_clean.cmake
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/depend.make
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/DependInfo.cmake
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/flags.make
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/link.txt
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/linklibs.rsp
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/objects1.rsp
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/progress.make
TP2/EJ8/cmake-build-debug/CMakeFiles/feature_tests.bin
TP2/EJ8/cmake-build-debug/CMakeFiles/feature_tests.c
TP2/EJ8/cmake-build-debug/CMakeFiles/feature_tests.cxx
TP2/EJ8/cmake-build-debug/CMakeFiles/Makefile.cmake
TP2/EJ8/cmake-build-debug/CMakeFiles/Makefile2
TP2/EJ8/cmake-build-debug/CMakeFiles/progress.marks
TP2/EJ8/cmake-build-debug/CMakeFiles/TargetDirectories.txt
TP2/EJ8/cmake-build-debug/EJ8.cbp
TP2/EJ8/cmake-build-debug/Makefile
TP2/EJ8/.idea/EJ8.iml
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/AudioEffect.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/AudioFile.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/CircularBuffer.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/CXX.includecache
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/DelayBasedEffect.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/depend.internal
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/Flanger.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/main.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/my_fft.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/Nada.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/objects.a
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/Reverb.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/Robotization.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/Vibrato.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/WavFile.cpp.obj
TP2/EJ8/cmake-build-debug/CMakeFiles/EJ8.dir/windows.cpp.obj
TP2/EJ8/cmake-build-debug/EJ8.exe
TP2/EJ8/cmake-build-debug/CMakeFiles/Progress/1
TP2/EJ8/cmake-build-debug/CMakeFiles/Progress/2
TP2/EJ8/cmake-build-debug/CMakeFiles/Progress/3
TP2/EJ8/cmake-build-debug/CMakeFiles/Progress/4
TP2/EJ8/cmake-build-debug/CMakeFiles/Progress/5
TP2/EJ8/cmake-build-debug/CMakeFiles/Progress/6
TP2/EJ8/cmake-build-debug/CMakeFiles/Progress/7
TP2/EJ8/cmake-build-debug/CMakeFiles/Progress/count.txt
